html {

	background-color: #e71218;
}

body {

	background-color: #e71218;

}

.bg-inverse {


	background-color: #e71218!important;

	border-color: #bb0000!important;

	border: solid 1px;

}

.nav{

	margin-top:.9em;

}

.navbar-brand {

	font-family: 'Squada One', cursive;
	font-size: 2.9em;

}

.navbar-inverse .navbar-brand {

	color: white;

}

.nav-link {

	color: white;
	font-size: 1.6em;
	font-family: 'Poiret One', cursive;
	font-weight: bolder;

}

.welcome {
	
	text-align: center;

	margin-top: 1em;

}

.welcome h1 {

	color: white;
	font-size: 4em;
	font-family: 'Berkshire Swash', cursive;

	

}

.profilebox {

	margin-top: 1.5em;

}

.profile {

	display: block;
	margin: auto;

}

.aboutme {
	
	margin-top: 3em;



}

.bio {

	background-color: #bb0000;

	border: 1px solid #bb0000;

	color: white;

	line-height: 180%;

	font-size: 1.4em;

	font-family: 'Poiret One', cursive;

	padding: .5em;




}

.bg-faded {

    background-color: black;
}

.copy{

	text-align: center;
	color: white;
	size: 1.17em;
	font-family: 'Berkshire Swash', cursive;


}

.final{

	margin-top: 70px;


}
.connect {


	color: white;
	font-family: 'Berkshire Swash', cursive;
	font-size: 3em;
	text-align: center;

	margin-top: 20px;

	margin-bottom: 20px;

}

.socialbuttons {


	text-align: center;

}

.formemail {


	margin-top: 50px;

}

.contactext {

	font-family: 'Berkshire Swash', cursive;
	color: white;
	font-size: 1.8em;


}


.emailbutton {

	color: white;
	font-size: 1.5em;
	font-family: 'Berkshire Swash', cursive;

	background-color: #bb0000;
	border: none;

	text-align: center;


}

.su {

	float: left;

	margin-right: 20px;
}